html, body
{
    height: 100%;
    overflow: hidden; /* Hide scroll bar */
}
  
body, h1
{
    margin: 0;
    padding: 0;

}
  
  /* bg color and font*/
body
{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
  
body, main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
  /* main container */
.container
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
}
  
  /* header */
header
{
    margin-bottom: 30px;
}
  
header h1
{
    font-size: 28px;
    color: #333;
}
  
  /* ball */
body img
{
    position: fixed;
    right: 40px;
}

/*background balls*/
#mainBall
{
    top:40;
    z-index: -1;
}

#reverseBall
{
    left:40px;
    bottom:40px;
    transform: rotate(180deg);
    z-index: -1;
}

.container iframe
{
    height: 800px;
    width: 800px;
    overflow: hidden;
}